.fundo1{
    background-image: url("47586b69547b49c.jpg");
    
}

.fonte-diferente{
    font-family: Arial, Helvetica, sans-serif
}

#fonteDiferente{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}